<h1>Bienvenido, {{user.first_name}} {{user.last_name}}</h1>
<p>Correo electrónico: {{user.email}}</p>
<p>Rol: {{user.role}}</p>
<form action="/api/sessions/logout" method="POST">
    <button type="submit">Cerrar Sesión</button>
</form>
<h2>Lista de productos</h2>